.body{
    background-image: url("./assets/Screenshot11-1920x1080-1af35abc46b2c459c90a3a8039ea90b4.avif");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ruthie', cursive;

}
.form{
    background-color: rgba(0, 0, 0, 0.389);
    
    
}
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ruthie&display=swap');

.carte{
    /* position: relative; */
    width: 200px;
    height: 300px;
    border: solid  5px black;
    color:burlywood;
    text-align: center;
    background-color:burlywood;
   
}

.front{
    /* position: absolute; */
    width: 100%;
    height: 100%;
   border-radius: 50px;
}

.front{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    background: rgb(0,0,0);
    background: linear-gradient(130deg, rgba(0,0,0,1) 36%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 82%, rgba(0,0,0,1) 99%);
    /* background-size: 250% 100%; */
}  
#img{
    width: 50%;
 border-radius: 50%;
 
}
.nom1{
    background-color: rgba(0, 0, 0, 0.258);
    
    width:200px;
    height:90px;
    
}
.rus{
    background-color: rgba(255, 255, 255, 0.258);
    
}
/* .image{
    margin-top: 650px;
    
} */
/* .hero{
    margin-right:
}
.monster{
    margin-right: 
} */
/* #img:hover{
    transform: scale(2,2);
} */
.button{
    background-color: burlywood;
    color: black;
    font-family: 'Ruthie', cursive;
}
/* h1{
    font-weight: normal;
    font-size: 3rem;
    text-shadow: 4px 6px 3px #ec904aae;
    font-family: 'Ruthie', cursive; 
} */
/* .front{
    background-color: black;

} */
/* .icone{
    width: 20px;
} */
/* p{
 font-size: 15px;
 font-weight: normal;
 font-size: 2rem;
 font-family: 'Dancing Script', cursive;
 
} */