.body{
    background-image: url("./assets/Screenshot11-1920x1080-1af35abc46b2c459c90a3a8039ea90b4.avif");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ruthie', cursive;

}
.bodyaccuiel{
    background-image: url("./assets/ab416354b581d3abe283fc3e2c7f2cb3.gif");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ruthie', cursive;
}
/* .acc{
    background-color: black;
} */

.form{
    background: rgb(0,0,0);
    background: linear-gradient(130deg, rgba(0,0,0,1) 36%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 82%, rgba(0,0,0,1) 99%);
    
    
}
/* .hero{
    background-color: #deb88742;
    opacity: 0.5;
} */
@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ruthie&display=swap');

.carte{
    /* position: relative; */
    width: 200px;
    height: 300px;
    border: solid  5px black;
    color:burlywood;
    text-align: center;
    background-color:burlywood;
   
}

.front{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    background: rgb(0,0,0);
    background: linear-gradient(130deg, rgba(0,0,0,1) 36%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 82%, rgba(0,0,0,1) 99%);
    width: 100%;
    height: 100%;
   border-radius: 50px;
}  
#img{
    width: 50%;
 border-radius: 50%;
 
}
.logo{
    width: 100%;
    height: 100px;
}
.acc{
    background-color: rgba(0, 0, 0, 0.466);
    
}
.nom1{
    background-color: rgba(0, 0, 0, 0.258);
    
    width:200px;
    height:100px;
    
}
.rus{
    background-color: rgba(255, 255, 255, 0.258);
    
}
.image{
    width: 100px;
    height: 200px;
} 
.imag{
    width: 150px;
    height: 300px;
}

/* .hero{
    margin-right:
}
.monster{
    margin-right: 
} */
/* #img:hover{
    transform: scale(2,2);
} */
.button{
    background-color: burlywood;
    color: black;
    font-family: 'Ruthie', cursive;
}
.div1{
    visibility: hidden;
}
.div2{
    visibility: hidden;
}
.diapo{
    position: relative;
    overflow: hidden;
}
#nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
}

#nav-droite{
    right: 20px;
}
#nav-gauche{
    left: 20px;
}
.resultat{
    visibility: hidden;

}
.attaque{
    text-decoration: none;
    border: none;
    background-color: rgba(240, 248, 255, 0);
}
.hero{
  
        animation-duration: 3s;
        animation-name: slidein;
}
      
      @keyframes slidein {
        from {
          margin-left: 50%;
          width: 100%;
        }
      
        to {
          margin-left: 0%;
          width: 50%;
        }
      }
